body{
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
}

#results {
    text-align: left;
    color: blue;
    cursor: pointer;
}

footer {
    margin-top: 300px;
}